html {
  font-family: 'Lato', sans-serif;
  font-size: 20px ;
  color: #5a5a5a;
  background-color: #ffffff;
}
html body {
  margin: 0px;
  padding: 0px;
}
html body header {
  background-image: url(../img/laptop.jpg);
  background-size: cover;
  background-attachment: fixed;
}
html body header .menu {
  display: flex;
  justify-content: space-between;
}
html body header .menu .logo {
  width: 300px;
}
html body header .menu > ul {
  display: flex;
  list-style: none;
}
html body header .menu > ul > li {
  font-size: 120%;
  padding: 20px;
}
html body header .menu > ul > li > a {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}
html body header .menu > ul > li > a:hover {
  text-decoration: underline;
}
html body header .contact {
  margin-left: 10%;
  padding-bottom: 40px ;
}
html body header .contact > h1 {
  color: white;
  font-size: 200%;
  word-spacing: 10px;
  letter-spacing: 5px;
  line-height: 120%;
}
html body header .contact > a {
  color: #dedada;
  text-decoration: none ;
  background-color: #d87920;
  padding: 7px 10px;
  border-radius: 5px;
  margin-right: 13px;
}
html body header .contact > a:hover {
  background-color: orange;
}
html body .about-us section h2 {
  text-align: center;
  color: peru;
  font-size: 200%;
  letter-spacing: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}
html body .about-us section > p {
  text-align: center;
  color: green;
}
html body .about-us section .choice-image {
  display: flex;
  justify-content: center;
}
html body .about-us section .choice-image div {
  width: 20%;
  text-align: center;
}
html body .about-us section .choice-image div img {
  width: 250px;
  height: 150px;
  border: 4px solid #dad3d3;
  border-radius: 20px;
  box-shadow: -10px 10px 1px -4px;
}
html body .about-us section .choice-image div img:hover {
  box-shadow: -15px 15px 1px -6px;
}
html body .about-us section .choice-image div > p {
  color: black;
}
html body .about-us section .choice-image div > p:hover {
  color: white;
}
html body .products {
  background-color: #dad3d3;
}
html body .products section h2 {
  text-align: center;
  color: peru;
  font-size: 200%;
  letter-spacing: 10px;
  padding-top: 40px;
}
html body .products section > p {
  text-align: center;
  color: #222222;
  margin-bottom: 30px;
}
html body .products section .option-pay {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
html body .products section .option-pay div {
  background-color: #dac7b2;
  width: 20%;
  height: 300px;
  margin: 0px 40px 40px 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html body .products section .option-pay div h3 {
  font-size: 120%;
  background-color: #353c4b;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html body .products section .option-pay div > p {
  text-align: center;
  color: #353c4b;
  font-size: 120%;
}
html body .products section .option-pay div > div {
  height: 30%;
  width: 80%;
}
html body .products section .option-pay div > a {
  text-decoration: none;
  margin-left: 110px;
  background-color: #946f2a;
  padding: 5px 10px;
  border-radius: 10px;
  color: #4b4646;
}
html body .products section .option-pay div > a:hover {
  background-color: #4d3319;
}
