html{
    font-family: 'Lato',sans-serif;
    font-size:20px ;
    color: #5a5a5a;
    background-color: #ffffff;
    body{
        margin: 0px;
        padding: 0px;
        // box-sizing: border-box;
        header{
            background-image: url(../img/laptop.jpg);
            background-size: cover;
            background-attachment:fixed;
            .menu{  
                    display: flex;
                    justify-content: space-between;
                    .logo{
                        width: 300px;
                    }
                    &>ul{
                        display:flex;
                        list-style: none;
                        &>li{
                            font-size: 120%;
                            padding: 20px;
                            &>a{
                                text-decoration: none;
                                color: white;
                                padding-bottom:  10px;
                                &:hover{
                                    text-decoration:underline;
                                }
                            }
                        }
                    }
                }
                .contact{
                    margin-left: 10%;
                    padding-bottom:40px ;
                    &>h1{
                        // margin-left:60px;
                        color: white;
                        font-size: 200%;
                        word-spacing: 10px;
                        letter-spacing: 5px;
                        line-height: 120%;
                    }
                    &>a{
                        color:rgb(222, 218, 218);
                        text-decoration:none ;
                        background-color: rgb(216, 121, 32);
                        padding: 7px 10px;
                        border-radius: 5px;
                        margin-right: 13px;
                        &:hover{
                            background-color: orange;
                        }
                    }
                }
            }
            .about-us{
                section{
                    h2{
                        text-align: center;
                        color: peru;
                        font-size: 200%;
                        letter-spacing: 10px;
                        margin-top: 40px;
                        margin-bottom: 40px;
                    }
                    &>p{
                        text-align: center;
                        color:green;
                    }
                    .choice-image{
                        display: flex;
                        justify-content: center;
                        div{
                            width: 20%;
                            text-align: center;
                            img{
                                width: 250px;
                                height: 150px;
                                border: 4px solid #dad3d3;
                                border-radius: 20px;
                                box-shadow: -10px 10px 1px -4px;
                                &:hover{
                                    box-shadow: -15px 15px 1px -6px;
                                }
                            }
                            &>p{
                                color:black;
                                &:hover{
                                    color: white;
                                }
                            }
                        }
                        
                        
                    }
                }
            }
            .products{
                background-color: #dad3d3;
                section{
                    h2{
                        text-align: center;
                        color: peru;
                        font-size: 200%;
                        letter-spacing: 10px;
                        padding-top: 40px;
                    }
                    &>p{
                        text-align: center;
                        color:#222222;
                        margin-bottom: 30px;
                    }
                    .option-pay{
                        display: flex;
                        justify-content: center;
                        padding-bottom: 40px;
                       div{ 

                            background-color: #dac7b2;
                            width: 20%;
                            height: 300px;
                            margin: 0px 40px 40px 40px;
                            // padding-bottom:100px;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            h3{ 
                                font-size: 120%;
                                background-color: #353c4b;
                                margin: 0;
                                padding:10px 0;
                                text-align: center;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                            }
                            &>p{
                                text-align: center;
                                color: #353c4b;
                                font-size: 120%;
                            }
                            &>div{
                                height: 30%;
                                width: 80%;
                                // text-align: center;
                                &>ul{
                                    &>li{
                                    }
                                 }
                                 }
                            &>a{
                                text-decoration: none;
                                margin-left: 110px;
                                background-color: rgb(148, 111, 42);
                                padding: 5px 10px;
                                border-radius: 10px;
                                color: rgb(75, 70, 70);
                                &:hover{
                                background-color: rgb(77, 51, 25);
                                }
                            }
                       }
                    }

                }
            }

        }
    }
    
    